In [1]:
import pandas as pd

# Leer el archivo CSV en un DataFrame con el encoding "utf-8"
df = pd.read_csv("Resultados.csv", encoding="latin-1", delimiter=";")

In [2]:
df = df.drop(0)

In [3]:
df = df.rename(columns = {'Alcance de la página de Facebook':'Fecha', 'Unnamed: 1':'Alcance_Facebook'})

In [4]:
facebook = df.iloc[0:30]

In [5]:
facebook = facebook.reindex()

In [6]:
facebook = facebook.drop(facebook.index[-1])
facebook = facebook.drop(facebook.index[-1])
facebook.head()

                 Fecha Alcance_Facebook
1  2021-12-21T00:00:00                1
2  2021-12-22T00:00:00                2
3  2021-12-23T00:00:00                0
4  2021-12-24T00:00:00                2
5  2021-12-25T00:00:00                1

In [7]:
#transformando: eliminando los 00:00:00
facebook['Fecha'] = facebook['Fecha'].apply(lambda x: x.split('T')[0])

In [8]:
facebook.head()

        Fecha Alcance_Facebook
1  2021-12-21                1
2  2021-12-22                2
3  2021-12-23                0
4  2021-12-24                2
5  2021-12-25                1

INSTAGRAM TRANSFORMACION

In [9]:
instagram=df.iloc[31:,:]
instagram.head()

                  Fecha Alcance_Facebook
32  2021-12-21T00:00:00             5689
33  2021-12-22T00:00:00             4154
34  2021-12-23T00:00:00              544
35  2021-12-24T00:00:00             4544
36  2021-12-25T00:00:00                8

In [10]:
instagram = instagram.rename(columns = {'Fecha':'Fecha', 'Alcance_Facebook':'Alcance_Instagram'})
instagram.shape

(28, 2)

In [11]:
instagram.head()

                  Fecha Alcance_Instagram
32  2021-12-21T00:00:00              5689
33  2021-12-22T00:00:00              4154
34  2021-12-23T00:00:00               544
35  2021-12-24T00:00:00              4544
36  2021-12-25T00:00:00                 8

In [12]:
instagram['Fecha'] = instagram['Fecha'].apply(lambda x: x.split('T')[0])

In [13]:
instagram.head()

         Fecha Alcance_Instagram
32  2021-12-21              5689
33  2021-12-22              4154
34  2021-12-23               544
35  2021-12-24              4544
36  2021-12-25                 8

In [14]:
facebook["Fecha"] = pd.to_datetime(facebook["Fecha"])
instagram["Fecha"] = pd.to_datetime(instagram["Fecha"])

In [15]:
# Realizar el inner join basado en la columna 'fecha'
df = pd.merge(facebook, instagram, on='Fecha', how='inner')

Conexion a SQL

In [16]:
import pyodbc

# Configura los detalles de la conexión
server = 'ELIZABETH\SQLEXPRESS'
database = 'FLORES'
username = 'sa'
password = '123456'

# Crea la cadena de conexión
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Conéctate a la base de datos
connection = pyodbc.connect(conn_str)
print('Conexión exitosa')

Conexión exitosa

In [17]:
df = df.values.tolist()
# Nombre de la tabla de destino
table_name = 'Base.Resultados'

# Crear una cadena de inserción en formato adecuado
insert_query = f"INSERT INTO {table_name} (Fecha, alca_face, alca_inst) VALUES (?, ?, ?)"

# Ejecutar la inserción masiva
#cursor para almacenar la informacion en memoria
cursor = connection.cursor()
cursor.executemany(insert_query, df)
#guardamos los cambios hechos a la base de datos
connection.commit()

# Cerrar la conexión
connection.close()